@tailwind base;
@tailwind components;
@tailwind utilities;


.dark-theme {
    background-color: #111;
    color: #fff;
}

.light-theme {
    background-color: #fff;
    color: #333;
}

.drawer-side a.active {
    color: rgb(182, 99, 99);
  }
  .drawer-side a {
    background-color: transparent;
  }